{% extends "base.html" %} 
{% load static %}

 
 

{% block title %}Seznam studentů{% endblock title %} 

{% block styles %} 

    <link rel="stylesheet" href="{% static 'school/index.css' %}"> 

{% endblock styles %} 
 

{% block content %} 
<a href="{% url 'school_premiants' %}">Premianti</a> 


    <ul> 

        {% for student in all_students %} 

            <li class="{% if student.is_premiant %}premiant{% endif %}" >
                {{ student.first_name }} {{ student.second_name }}: {{ student.email }}
                {% if student.is_premiant %} 

                - premiant 

            {% endif %} 
            </li> 

        {% endfor %} 

    </ul> 

{% endblock content %} 

 

 


 