<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %} 
    <a href="{% url 'all-books-url' %}">Všechny knihy</a>
    <h1>Knihy</h1>
    <form action="/" method='POST'> 

        {% csrf_token %} 

        <fieldset> 

            <legend>Údaje o knize</legend> 

           {{ bookForm }}

        </fieldset> 

        <button>Odeslat</button> 

    </form> 

    {% endblock content %} 
</body>
</html>