{% extends "base.html" %} 

 
 

{% block title %}Seznam písniček{% endblock title %} 

 
 

{% block content %} 

    <ul> 

        {% for song in all_songs %} 
                  
            <li> 

                <a href="{{ song.get_absolute_url }}"> 

                    {{ song.title }} - rating: {{ song.rating }} 

                </a>     
            </li> 

        {% endfor %} 

    </ul> 
    <p>Celkový počet písniček: {{ total_songs_number }}</p>  
    <p>Celkový raiting: {{ average_rating.rating__avg }}</p>   

{% endblock content %} 